body {
  min-height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  background-color: #2CCB89;
  padding-left: 2em;
  padding-right: 2em;
}

h1 {
  display: none;
}

.logo {
  height: 5em;
  width: auto;
}
.info {
  width: 100%;
  padding-left: 2em;
}
.currentCity {
  display: none;
}
.master {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 95%;
  flex: 1;
  padding: 2em;
}

.sidebar {
  width: 5%;
  background-image: url(#2CCB89);
  background-color: #2CCB89;
}

h2 {
  color: #2CCB89;
}

#modal1 {
  margin-top: 7em;
  width: 70vw;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}

/*.or {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  color: #26A69A;
}

.or p {
  margin: 0px;
}*/

#formRow {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

#rangeRow {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

input#city, input#distanceInput {
  font-size: 2em;
}

input#distanceInput {
  margin: .1em;
}

.checkboxes {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.checkboxes p {
  padding-right: 1em;
  padding-left: 1em;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.cardCol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;

}
.mapCol {
  display: flex;
  margin-top: .5em;
  height: 76vh;

}

#map {
      position: static;
      height: auto;
      width: 100%;
}


.card .card-content .card-title {
  line-height: 1em;
}
.card-title {
  font-size: 2em;
  line-height: 1em;
}
address {
  font-style: normal;
}

address a {
  color: white;
}

.footer {
  width: 100%;
  height: 3em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  align-self: baseline;
  background-color: #2CCB89;
}
