body {
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  height: 20vh;
}

.main {
  display: flex;
  flex-direction: column;;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form .row {
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
