body {
  min-height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: #ade2a1;
  padding-left: 2em;
  padding-right: 2em;
}

h1 {
  display: none;
}

.logo {
  height: 5em;
  width: auto;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form .row {
  display: flex;
  align-items: center;
}

.checkboxes p {
  padding-right: 2em;
  margin: 0px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 3em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  align-self: flex-end;
  background-color: #ade2a1;
}
