body {
  min-height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: #2CCB89;
  padding-left: 2em;
  padding-right: 2em;
}

h1 {
  display: none;
}

.logo {
  height: 5em;
  width: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex: 1;
  padding: 2em;
}

h2 {
  color: #2CCB89;
}

#modal1 {
  margin-top: 7em;
  width: 50vw;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  color: #26A69A;
}

.or p {
  margin: 0px;
}

#formRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.checkboxes {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.checkboxes p {
  padding-right: 1em;
  padding-left: 1em;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cardCol {
  display: flex;
  flex-wrap: wrap;

}
.mapCol {
  height: 50vh;

}


.card .card-content .card-title {
  line-height: 1em;
}
.card-title {
  font-size: 2em;
  line-height: 1em;
}

.footer {
  width: 100%;
  height: 3em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  align-self: baseline;
  background-color: #2CCB89;
}
